<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
</head>
<body>
    <h1>Upload your video</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <!-- アップロードされたビデオの表示 -->
    <video width="600" controls>
        <source src="{{ url_for('static', filename='your_video.mp4') }}" type="video/mp4">
    </video>
</body>
</html>
